.productDate {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background: rgba(0, 0, 0,0.5);
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
    color: white;
}

.productDate:hover{
    transform: scale(1.1);
}

.productDate div:last-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.productDate div:nth-child(2) {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.productDate div:first-child {
    font-size: 0.8rem;
    opacity: 0.9;
}