.productItems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    padding: 10px 20px;
    justify-content:space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid gray;
    transition: all 0.5s ease;
}

.productItems:hover {
    border: 1px solid black;
    cursor: pointer;
}
